/* LOGIN PAGE */
.loginform {
    display: flex;
    flex-direction: row;
    background: #c9ddff;
    width: 99vw;
    height: 85.4vh;
    justify-content: center;
}

.loginform h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.usernameinput {
    margin: 5px;
}

.passwordinput {
    margin: 5px;
}

.submitbutton {
    display: flex;
    justify-content: center;
    padding: 15px;
}

/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    background: #eff7ff;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    margin-top: 1px;
    height: 5vh;
    width: 99vw;
}

/* PROFILE */
.profile {
    display: flex;
    height: 80.3vh;
    width: 99vw;
    flex-direction: column;
    align-items: center;
    background: #eff7ff;
}

.profile h1 {
    margin-top: 40px;
    color: #03045E;
}

.infodisplay {
    display: flex;
    flex-direction: row;
}

.profile h3 {
    margin-right: 15px;
    color: #03045E
}

.profile h4 {
    margin-right: 15px;
    color: #03045E
}

.profile p {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #03045E;
}

/* MESSAGE CONTAINER */
.messagecontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    background-image: radial-gradient(#f0f7ff 20%, transparent 20%),
     radial-gradient(#f0f7ff 20%, transparent 20%);
    background-color: #eff7ff;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    height: 80.3vh;
    width: 99vw;
}

/* MESSAGE COLUMN */
.messagecolumn {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 73vh;
    border-style: solid;
    border-color: #5f758e;
    margin: 32px;
    align-items: center;
    overflow-y: scroll;
    border-radius: 10px;
}

.messagecolumn h1 {
    color: #03045E
}

/* MESSAGE CARD */
.messagecardtrue {
    display: flex;
    flex-direction: column;
    width: 9vw;
    height: 20vh;
    border: 2px solid #5f758e;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    align-items: center;
    background-color: rgb(172, 243, 157, .3)
}

.messagecardtrue:hover{
    background-color: rgb(172, 243, 157, .9)
}

.messagecardfalse {
    display: flex;
    flex-direction: column;
    width: 9vw;
    border: 2px solid #FE6D73 ;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    align-items: center;
    background-color: rgb(247, 231, 51, .2)
}

.messagecardfalse:hover{
    background-color: rgb(247, 231, 51, .5)
}
.cardcontent {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.cardcontent h5 {
    display: flex;
    margin-top: 0em;
    margin-bottom: 0em;
    align-self: center;
}

.cardcontent h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cardcontent p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-style: italic;
}

.offhours {
    text-align: center;
}

/* RESPONSE COLUMN */
.responsecolumn {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 73vh;
    border-style: solid;
    margin: 32px;
    align-items: center;
    overflow-y: scroll;
    border-radius: 10px;
}

.responsecolumn h1 {
    color: #03045E;
    margin-top: 20px;
}

/* RESPONSE CARD */
.responsecardtrue {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 9vw;
    height: 20vh;
    align-items: center;
    text-align: center;
    background-color: rgb(95, 117, 142, .6)
} 

.responsecardtrue:hover {
    background-color: rgb(95, 117, 142, 1)
}

.responsecardfalse {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 9vw;
    align-items: center;
    text-align: center;
    background-color: rgb(95, 117, 142, .3)
} 

.responsecardfalse:hover {
    background-color: rgb(95, 117, 142, 1)
}

.responsecardtrue h5 {
    margin-top: 0em;
    margin-bottom: 0em;
}

.responsecardtrue p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-style: italic;
}

.responsecardfalse h5 {
    margin-top: 0em;
    margin-bottom: 0em;
}

.responsecardfalse p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-style: italic;
}

/* STUDENT REQUEST CONTAINER */
.studentrequest {
    display: flex;
    flex-direction: column;
    border: solid;
    width: 98.7vw;
    height: 78.4vh;
    margin-bottom: 0px;
    align-items: center;
    background: #eff7ff
}

.studentinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 98.8vw;
} 

.studentrequest h5 {
    margin-right: 15px;
    font-size: 18px;
}

.studentrequest p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
}

.klassinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 98.8vw;
    padding: 20px;
}

.requestinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 98.8vw;
    padding: 10px;
    margin: 10px;
}

.requestinfo h5 {
    font-size: 20px;
}

.request info p {
    font-size: 18px;
}

/* REPLY PAGE INFO */
.replypageinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eff7ff;
    border: solid;
    width: 96vw;
    height: 73.9vh;
    padding: 20px;
}

.replypageinfo h3 {
    margin-right: 15px;
    font-size: 18px;
    margin-top: 5px;
}

.replypageinfo p {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
}

/* REPLY FORM */
.replyform {
    display: flex;
    flex-direction: column;
    height: 76.2vh;
    width: 98.8vw;
    align-items: center;
    padding: 30px;
}

.timeanddate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.officehours {
    margin: 20px;
}

.replysubmitbutton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.noofficehours {
    margin-top: 20px;
}