.navbarstudent {
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 98.8vw;
    justify-content: space-evenly;
    align-items: center;
}

.studentcontainer {
    display: flex;
    flex-direction: column;
    border: blue;
}

.studentmain {
    display: flex;
    flex-direction: row;
    width: 98vw;
    height: 57vh;
    border-color: red
}

.messages {
    display: flex;
    flex-direction: row;
}
/* .requestcolumn {
    display: flex;
    flex-direction: row;
    width: 97.5vw;
    height: 18.5vh;
    border-style: solid;
    margin: 10px;
    align-items: center;
    overflow-y: scroll;
} */

.requestcolumn {
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 75vh;
    border-style: solid;
    margin: 30px;
    align-items: center;
    overflow-y: scroll;
}

.requestcolumn h1 {
    display: flex;
    margin-bottom: 10px;
}

.newrequest {
    display: flex;
    margin-bottom: 5px;
}

.conversation {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    align-items: center;
}

.studentconvo h5 {
    display: flex;
    margin-top: 0em;
    margin-bottom: 0em;
    align-items: center;
    justify-content: center;
}

.studentconvo p {
    display: flex;  
    margin-top: 0px;
    margin-bottom: 10px;
    font-style: italic;
    align-items: center;
    justify-content: center;
}

.teacherconvo h5 {
    display: flex;
    margin-top: 0em;
    margin-bottom: 0em;
    align-items: center;
    justify-content: center;
}

.teacherconvo p {
    display: flex;
    margin-top: 0em;
    margin-bottom: 0em;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;

}

.button {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.waitingalert {
    display: flex;
    align-items: center;
    justify-content: center;
}