@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Carter+One&family=Open+Sans&family=Raleway&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif; 
font-family: 'Carter One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Acme', sans-serif; */


/* LOGIN PAGE */
.loginform {
    display: flex;
    flex-direction: row;
    background: #c9ddff;
    width: 99vw;
    height: 85.4vh;
    justify-content: center;
}

.loginform h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    color: #03045E;
    font-family: 'Carter One', cursive;
    font-size: 30px;
}

.usernameinput {
    margin: 5px;
}

.passwordinput {
    margin: 5px;
}

.submitbutton {
    display: flex;
    justify-content: center;
    padding: 15px;
}

/* NAVBAR */
.navbarstudent {
    display: flex;
    flex-direction: row;
    background: #03045E;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    margin-top: 1px;
    height: 12vh;
    width: 50vw;
}

/* PROFILE */
.profile {
    display: flex;
    height: 85.3vh;
    width: 99vw;
    flex-direction: column;
    align-items: center;
    background: #eff7ff;
}

.profile h1 {
    margin-top: 40px;
    color: #03045E;
    font-family: 'Carter One', cursive;
}

.infodisplay {
    display: flex;
    flex-direction: row;
}

.profile h3 {
    margin-right: 15px;
    color: #03045E;
    font-family: 'Carter One', cursive;
}

.profile h4 {
    margin-right: 15px;
    color: #03045E;
    font-family: 'Carter One', cursive;
}

.profile p {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #03045E;
    font-family: 'Carter One', cursive;
}

/* MAIN CONTAINER */
.messages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85.3vh;
    width: 99vw;
    background-color: white;
   
}

/* REQUEST COLUMN */
.requestcolumn {
    display: flex;
    flex-direction: column;
    width: 22vw;
    height: 75vh;
    margin: 50px;
    margin-top: 10px;
    align-items: center;
    overflow-y: scroll;
    border-radius: 10px;
}

.requestcolumn h1 {
    display: flex;
    margin-bottom: 10px;
    color: #03045E;
    font-family: 'Carter One', cursive;
}

/* BUTTON */
.newrequest {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* REQUEST CARD */
.conversationtrue {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    border: 2px solid #03045E;
    justify-content: center;
    width: 90%;
    background-color:rgb(80, 216, 215, .5)
}

.conversationtrue:hover{
    background-color:rgb(80, 216, 215, .8)
}

.conversationfalse {
    display: flex;
    flex-direction: column;
    border: 2px solid #FE6D73 ;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
    background-color: rgb(252, 176, 179, .4)
}

.conversationfalse:hover{
    background-color: rgb(252, 176, 179, .8)
}

.buttonrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.studentconvo h5 {
    display: flex;
    margin-top: 0em;
    margin-bottom: 0em;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: #9a8c98;
    font-weight: bold;
    font-size: 13px;
}

.studentconvo p {
    display: flex;  
    margin-top: 0px;
    margin-bottom: 10px;
    font-style: italic;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: #03045E;
    font-weight: bold;
    font-size: 16px;
}

.teacherconvo h5 {
    display: flex;
    margin-top: 0em;
    margin-bottom: 0em;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: #9a8c98;
    font-weight: bold;
    font-size: 13px;
}

.teacherconvo p {
    display: flex;
    margin-top: 0em;
    margin-bottom: 0em;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    font-family: 'Open Sans', sans-serif;
    color: #03045E;
    font-weight: bold;
    font-size: 16px;
}

.button {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.waitingalert {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* REQUEST VIEW SCREEN */
.fullrequest {
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 85.3vh;
    margin-bottom: 0px;
    align-items: center;
    background: #eff7ff;
}

.fullrequest h1 {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    font-size: 30px;
    align-items: center;
    font-family: 'Carter One', cursive;
    color: #03045E;
}

.fullrequest h2 {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    font-family: 'Carter One', cursive;
    color: #03045E;
    font-size: 18px;
}

.fullrequest p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #03045E;
}

/* EDIT REQUEST FORM */
.request {
    display: flex;
    flex-direction: column;
    background-color: #eff7ff;
}

.requestformheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Carter One', cursive;
    color: #03045E;
}

.requestform {
    display: flex;
    flex-direction: column;
    height: 85.3vh;
    width: 98.8vw;
    text-align: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.topic {
    display: flex;
    flex-direction: row;
    align-items: center;  
    margin: 15px;
}

.urgency {
    display: flex;
    flex-direction: row;
    align-items: center;  
    margin: 15px;
}

.requestofficehours {
    display: flex;
    flex-direction: row;
    align-items: center;  
    margin: 15px;
}

.description {
    display: flex;
    flex-direction: row;
    align-items: center;  
    margin: 15px;
    margin-bottom: 30px;
}

/* NEW REQUEST FORM */
.newrequest {
    display: flex;
    flex-direction: column;
    background-color: #eff7ff;
}

.newrequestformheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Carter One', cursive;
    color: #03045E;
}