.maincontainer {
      border-style: solid;
      height: 97.4vh;
      width: 99vw;
}

.header {
      border: solid;
      display: flex;
      height: 12vh;
      width: 98.7vw;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: #eff7ff
}

.header h1 {
      font-size: 55px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #474973;
}

/* eff7ff */

.mainpage {
      display: flex;
      flex-direction: column;
      border: solid;
      height: 84.1vh;
      width: 98.7vw;
      background: #eff7ff;
      align-items: center;
}

.mainpage h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 70px;
      margin-bottom: 5px;
      font-size: 50px;
}

.mainpage p {
      display: flex;
      flex-direction: column;
      font-size: 20px;
}

.mainpagebuttons {
      display: flex;
      flex-direction: row;
}

.studentbutton {
      padding: 10px;
      margin: 10px;
}

.teacherbutton {
      padding: 10px;
      margin: 10px;
}