.maincontainer {
      border-style: solid;
      height: 97.4vh;
      width: 99vw;
}

.header {
      display: flex;
      height: 10vh;
      width: 98.8vw;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}

.header h1 {
      font-size: 70px;
}

.navbar {
      display: flex;
      flex-direction: row;
      height: 5vh;
      width: 98.8vw;
      justify-content: space-evenly;
      align-items: center;
}

.profile {
      display: flex;
      height: 76.2vh;
      width: 98.8vw;
      flex-direction: column;
      align-items: center;
}

.messagecontainer {
      display: flex;
      width: 98.8vw;
      height: 81vh;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0px;
}

.allconvos {
      display: flex;
      flex-direction: row;
      padding: 20px;
      overflow-y: scroll;
}

.responsecolumn {
      display: flex;
      flex-direction: column;
      width: 17.5vw;
      height: 77vh;
      border-style: solid;
      margin: 10px;
      align-items: center;
      overflow-y: scroll;
}

.responsecard {
      display: flex;
      flex-direction: column;
      border: 2px solid red;
      border-radius: 5px;
      padding: 10px;
      margin: 5px;
      align-items: center;
} 

.responsecard h5 {
      margin-top: 0em;
      margin-bottom: 0em;
}

.responsecard p {
      margin-top: 0px;
      margin-bottom: 10px;
      font-style: italic;
}


.messagecolumn {
      display: flex;
      flex-direction: column;
      width: 17.5vw;
      height: 77vh;
      border-style: solid;
      margin: 10px;
      align-items: center;
      overflow-y: scroll;
}

.messagecard {
      display: flex;
      flex-direction: column;
      border: 2px solid red;
      border-radius: 5px;
      padding: 10px;
      margin: 5px;
      align-items: center;
}

.messagecard h5 {
      margin-top: 0em;
      margin-bottom: 0em;
}

.messagecard h3 {
      margin-top: 0px;
      margin-bottom: 0px;
}

.messagecard p {
      margin-top: 0px;
      margin-bottom: 10px;
      font-style: italic;
}
