.maincontainer {
      border-style: groove;
      height: 97.4vh;
      width: 99vw;
}

.header {
      display: flex;
      height: 12vh;
      width: 99vw;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: #03045E
}

.header h1 {
      font-size: 55px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #f7e733;
}

/* eff7ff */

.mainpage {
      display: flex;
      flex-direction: column;
      height: 85.4vh;
      width: 99vw;
      background: #c9ddff ;
      align-items: center;
      color: #0e1c36
}

.mainpage h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 70px;
      margin-bottom: 5px;
      font-size: 50px;
}

.mainpage p {
      display: flex;
      flex-direction: column;
      font-size: 20px;
}

.mainpagebuttons {
      display: flex;
      flex-direction: row;
}

.studentbutton {
      padding: 10px;
      margin: 10px;
}

.teacherbutton {
      padding: 10px;
      margin: 10px;
}